@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');

:root {
    --body-bg: #f5f5f5;
    --calc-bg: #ffffff;
    --txt-color: #434343;
    --txt-white: #ffffff;
    --calc-res-color: #434343;
    --calc-btn-color: #0075e3;
}

.dark {
    --calc-res-color: #ffffff;
    --calc-bg: #373737;
    --body-bg: #1a1a1a;
    --txt-color: #ffffff;
    --calc-res-color: #ffffff;
    --calc-btn-color: #00b365;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Slab', serif;
    line-height: 1.5;

    background-color: var(--body-bg);
    color: var(--txt-color);

    display: flex;
    justify-content: center;
    padding-top: 100px;
}


.calculator2 {
    padding: 20px;
    width: 400px;
    height: 700px;
    overflow: hidden;
    border-radius: 20px;
    background-color: var(--calc-bg);
    box-shadow: rgba(100, 100, 110, 0.2) 0px 0px 30px 0px;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.calcBTNS {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.calcBTNS button {
    font-family: 'Roboto Slab', serif;
    border: none;
    border-radius: 25px;
    font-size: 1.25rem;
    padding: 10px;
    border-radius: 25px;
    cursor: pointer;
    background-color: transparent;
    color: var(--txt-color);
}

.calcBTNS button:last-child {
    background-image: linear-gradient(125deg, #0075e3, #00b365);
    color: var(--txt-white);
}

.calcBTNS .btn__op {
    color: var(--calc-btn-color);
}

.calcBTNS .btn__thm {
    color: #ffc400;
}

.outResult { 
    position: relative;
    margin-bottom: 20px;
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
}

.outResultExp {
    font-size: 3.5rem;
    line-height: 1;
    transform-origin: right bottom;
    transition: transform 0.3s ease;
    color: var(--calc-res-color);
}

.outResultExp:last-child {
    position: absolute;
    right: 0;
}

.outResultExp span {
    display: inline-block;
    overflow: hidden;
    transition: width 0.3s ease;
}

@media only screen and (max-width: 800px) {
    .calculator2 {
        width: 100%;
        height: 100vh;
        border-radius: 0;
    }
}